/.vs/hex/v15/.suo
/.vs/hex/v15/Browse.VC.db
/.vs/hex/v15/ipch/AutoPCH/2d2f1c67819bc665/MAIN.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/dist/Debug/Cygwin-Windows/.vs/hex/v15/.suo
